/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/
@import "font-awesome";

.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.body {
  margin-top: 51px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}
p {
  margin: 0 0 10px;
}

header .navbar-left span {
  font-size: 20px;
  padding-top: 10px;
}

header{
  color: white;
}

div.field, div.actions {
  margin-bottom: 10px;
}

a:visited {
  color: #666;
}

#notice {
  color: green;
}

#error_explanation {
  color: red;
}

span.input-group-btn {
  display: inline;
}

.form-control {
  display: inline;
  width: 80%;
}

.input-group-btn:last-child {
  z-index: 2;
  display: inline-block;
  margin-left: -7px;
  margin-top: -3px;
}

.comment_list{
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border: solid 4px black;
  padding: 15px;
  border-collapse: inherit;
  border-radius: 50px 0px 0px 50px;
}

.comment_body{
  font-size: 22px;
  padding-bottom: 20px;
  text-align: left;
  padding-left: 20px;
}

table.comment_list {
  table-layout: fixed;
}

.comment_detail > td:nth-child(1){
  text-align: left;
  padding-left: 30px;
}

.comment_detail > td:nth-child(2){
  text-align: center;
}

.comment_detail > td:nth-child(3){
  text-align: right;
}

.book_list_tr.td:nth-child(-n+2){
  text-align: center;
}

.fav_btn{
  padding: 5px;
  border: rgb(255, 142, 226) solid 3px;
  border-radius: 15px;
  color: black;
}

.fav_btn_on{
  padding: 5px;
  border: rgb(255, 142, 226) solid 3px;
  border-radius: 15px;
  color : pink;
}

i.fa.fa-thumbs-o-up.fa-2x.fav_btn {
  background-color: navajowhite;
  text-decoration:none;
}

.nowrap{
  white-space: nowrap
}

.text_center{
  text-align: center;
}

.fav_btn:hover {
  color: black;
}

.fav_btn_on:hover {
  color: pink;
}
