<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to " Home", root_path, class: "glyphicon glyphicon-home home" %></li>
        <li><%= link_to " About", about_path, class: "glyphicon glyphicon-link about" %></li>
        <li><%= link_to " sign up", new_registration_path(:user), class: "glyphicon glyphicon-edit sign_up" %></li>
        <li><%= link_to " login", new_session_path(:user), class: "glyphicon glyphicon-log-in sign_in" %></li>
      </ul>
    </nav>
  </div>
</header>